apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: utxj-workshop-ricardo
  name: utxj-workshop-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: utxj-workshop-api
  template:
    metadata:
      labels:
        app: utxj-workshop-api
    spec:
      containers:
        - name: utxj-workshop-api
          image: utxj-workshop-api
          ports:
            - containerPort: 8080
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 2
            periodSeconds: 5
